ffmpeg.exe
ffmpeg
youtube-audio-downloader.zip
youtube_mp3_downloader.spec

/build
/dist
/downloads
/downloads2
/yt_dlp
/test_downloads
/.venv
/.pytest_cache
__pycache__
.yt_mp3_settings.json
.DS_Store
